.part-one{
    margin: auto;
    width: 1320px;
    height: 600px;
    padding: 50px 140px 50px 140px;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: linear-gradient(180deg, #070211 0% rgba(7, 2, 17, 0.00)100%);
}

.pic-one{
    filter: brightness(70%);
}

.banner-intro{
    position: absolute;
  display: inline-block;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 259px;
    height: 40px;
    padding-top: 177px;
    padding-right: 531px;
    padding-left: 530px;
    padding-bottom: 383px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Merriweather', serif;
    color: white;
}

.banner-sub{
    position: absolute;
    display: inline-block;
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 632px;
    height: 190px;
    padding: 233px 344px 177px 344px;
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.part-two{
    text-align: center;

}

.info-one{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info-two{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}

.info-three{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.image-two{
    margin: auto;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.part-three{
    position: relative;
    margin: auto;
    width: 1320px;
    height: 600px;
    padding: 120px 140px 120px 140px;
    flex-shrink: 0;
    border-radius: 16px;
}

.group-photo{
    position: relative;
}

.photo-one{
    position: absolute;
    filter: brightness(70%);
}

.small-pic{
    position: absolute;
    margin-left: 60%;
    margin-top: 5%;
}


.text-one{
    position: absolute;
    display: inline-block;
    bottom: 50%;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-left: 126px;
    margin-right: 552px;
}

.text-two{
    position: absolute;
    display: inline-block;
    bottom: 20%;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 326px 497px 214px 126px;

}

.text-three{
    position: absolute;
    display: inline-block;
    bottom: 20%;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 434px 1059px 142px 158px;
}


.line-one{
    position: absolute;
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 140px; 
    top: 258%;
    right: 75%;
    margin bottom: 16px;
}

.line-two{
    position: absolute;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 140px;
    margin-right: 894px;
    margin-bottom: 16px;
    left: 140px;
    
}

.line-three{
    position: absolute;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 140px;
    margin-right: 894px;
    left: 140px;
    top: 268%;
}

.products{
    margin-top: 260px;
}

.row-one{
    display: flex;
    justify-content: center;
    

}

.to{
    margin-left: 24px;
    margin-right: 24px;
}

.row-two{
    display: flex;
    justify-content: center;
    
}

.fi{
    margin-left: 24px;
    margin-right: 24px;
}

.mail{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 725px;
    margin-right: 725px;
    padding-left: 155px;
    
}

.ek{
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 390px;
    margin-left: 404px;
    margin-right: 405px;

}

.do{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}